* {
  border: none;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #6e5c62;
  color: white;
}

.c-default {
  background-color: #504a4b;
}

.c-used {
  background-color: #312a2c;
  color: rgba(255, 255, 255, 0.3);
}

.c-almost {
  background-color: #d3ad69;
}

.c-correct {
  background-color: #3aa394;
}

.word-row {
  display: flex;
  justify-content: center;
}
