* {
  border: none;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #6e5c62;
  color: white;
}

h2 {
  font-size: 30px;
}

.c-default {
  background-color: #504a4b;
}

.c-used {
  background-color: #312a2c;
  color: rgba(255, 255, 255, 0.3);
}

.c-almost {
  background-color: #d3ad69;
}

.c-correct {
  background-color: #3aa394;
}

.word-row {
  display: flex;
  justify-content: center;
}

input {
  background-color: #312a2c;
}

button {
  cursor: pointer;
}

.letter {
  background-color: #504a4b;
  border-radius: 3px;
  margin: 2px;
  padding: 5px 8px;
  text-transform: uppercase;
  width: 20px;
}

.nextWord {
  background-color: #312a2c2f;
  color: transparent;
}

.curWord {
  background-color: transparent;
  border: 3px solid #504a4b;
  color: transparent;
  padding: 3px 5px;
}
